<div class="container">
    <header class="row">
        <div class="col">
            <h1>Product Detail
            </h1>
        </div>
    </header>
    <section class="row">
        <div class="col">
            <p>Name:{{product.name}}</p>
            <p>Quatity:{{product.quantity}}</p>
            <p>Price:{{product.price}}</p>
        </div>
    </section>

    <main>
        <table>
            <tr>
                <td>ID</td>
                <td>First</td>
                <td>Last</td>
                <td>Year</td>
                <td>Passed</td>
            </tr>
            <tbody id="list"></tbody>
        </table>
    </main>

    <div class="col">
        <app-product-list></app-product-list>
    </div>
</div>